<div class="span2 sideuser">
        <div class="addmore">

        <section>
        	<div class= "derp">
            <div class="center">
              <%= gravatar_for size: 100 %>
              <h5>Gavin Ching</h5>
              <h6>A enthusiastic Computer Engineer that wants to learn more about himself.</h6>
              <%=link_to( image_tag('linkedin.png', :size => "25x25"), 'http://www.linkedin.com/pub/gavin-ching/3b/878/6b6') %>
              <a class="twitter-timeline" href="https://twitter.com/gching" data-widget-id="334167141383278592">Tweets by @gching</a>
              <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              </script>
            </div>
          
     		 </div>
        </section>

      </div>
    </div>