- provide(:title, 'Contact')
%div{:class => ["center", "alpha60", "hero-unit"], :style => "overflow: auto;" }
	%div{:class => ["thumbnail", "span3"], :style => "margin-right: 20px;"}
		=image_tag "akb.jpg"
	%h1 Contact
	%p Find me at blahhh
