   <div class="row-fluid">
      <div class="span10">
        <%= render 'shared/feed' %>
      </div>
      <div class="span2 sideuser">
        <div class="addmore">

        <section>
        	<div class= "derp">
            <div class="span9">
              <h5>Gavin Ching</h5>
              <h6>A enthusiastic Computer Engineer that wants to learn more about himself.</h6>
            </div>
          <%= gravatar_for size: 100 %>
     		 </div>
        </section>

      </div>
    </div>
    </div>
