<div class="center alpha60 hero-unit">

	<h1>
	Gavin Ching's Journey
	</h1>
	<h2>
	Find me in app/views/general_pages/home.html.erb
	</h2>

	<%= link_to "Hi!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>